/DSP-UFCFXK-30-3-PIP-2025-26 .docx
/DSP-UFCFXK-30-3-REPORT-2025-26.docx
/Literature Review.numbers
/Literature Review.xlsx
/Plan-template - Copy.xlsx
/UFCFXK_FormalProposalForm_GRACIESEARLE.doc
/UFCFXK_FormalProposalForm_GRACIESEARLE.pdf
/UFCFXK_FormalProposalForm_YOURNAME.doc
/dsp-meeting-logs.pages
/dsp-report-research-template.docx
/dance_level_b_k_ch0.npy
/dance_level_e_k_ch0.npy
/dance_level_i_k_ch0.npy

~$P-UFCFXK-30-3-PIP-2025-26 .docx
