/DSP-UFCFXK-30-3-PIP-2025-26 .docx
/DSP-UFCFXK-30-3-REPORT-2025-26.docx
/Literature Review.numbers
/Literature Review.xlsx
/Plan-template - Copy.xlsx
/UFCFXK_FormalProposalForm_GRACIESEARLE.doc
/UFCFXK_FormalProposalForm_GRACIESEARLE.pdf
/UFCFXK_FormalProposalForm_YOURNAME.doc
/dsp-meeting-logs.pages
/dsp-report-research-template.docx
/dance_level_b_k_ch0.npy
/dance_level_e_k_ch0.npy
/dance_level_i_k_ch0.npy

~$P-UFCFXK-30-3-PIP-2025-26 .docx
keypoints3d
Literature Review.docx
1706.03762v7.pdf
1911.02001v1.pdf
2006.05743v1.pdf
2101.08779v3.pdf
2209.14916v2.pdf
2506.07565v2.pdf
2506.18680v1.pdf
Gantt Chart.pdf
Literature Review.pdf
Bib.xml
vae_ga_dance_002.mp4
vae_ga_dance_003.mp4
vae_ga_dance_004.mp4
vae_ga_dance_005.mp4
dsp-meeting-logs.pdf
